<a href="https://colab.research.google.com/github/fbghkh1999/data-preprocessing-visualization/blob/main/feature%20selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
data=pd.read_csv('interview_dataset')
data.describe()

       Unnamed: 0       label          f1  ...         f28         f29         f30
count  569.000000  569.000000  569.000000  ...  569.000000  569.000000  569.000000
mean   284.000000    0.372583   14.127292  ...    0.114606    0.290076    0.083946
std    164.400426    0.483918    3.524049  ...    0.065732    0.061867    0.018061
min      0.000000    0.000000    6.981000  ...    0.000000    0.156500    0.055040
25%    142.000000    0.000000   11.700000  ...    0.064930    0.250400    0.071460
50%    284.000000    0.000000   13.370000  ...    0.099930    0.282200    0.080040
75%    426.000000    1.000000   15.780000  ...    0.161400    0.317900    0.092080
max    568.000000    1.000000   28.110000  ...    0.291000    0.663800    0.207500

[8 rows x 32 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  569 non-null    int64
 1   label       569 non-null    int64
 2   f1          569 non-null    float64
 3   f2          569 non-null    float64
 4   f3          569 non-null    float64
 5   f4          569 non-null    float64
 6   f5          569 non-null    float64
 7   f6          569 non-null    float64
 8   f7          569 non-null    float64
 9   f8          569 non-null    float64
 10  f9          569 non-null    float64
 11  f10         569 non-null    float64
 12  f11         569 non-null    float64
 13  f12         569 non-null    float64
 14  f13         569 non-null    float64
 15  f14         569 non-null    float64
 16  f15         569 non-null    float64
 17  f16         569 non-null    float64
 18  f17         569 non-null    float64
 19  f18         569 non-null    float64
 20  f19         569 non-null    float64
 21  f20         569 non-null    float64
 22  f21         569 non-null    float64
 23  f22         569 non-null    float64
 24  f23         569 non-null    float64
 25  f24         569 non-null    float64
 26  f25         569 non-null    float64
 27  f26         569 non-null    float64
 28  f27         569 non-null    float64
 29  f28         569 non-null    float64
 30  f29         569 non-null    float64
 31  f30         569 non-null    float64
dtypes: float64(30), int64(2)
memory usage: 142.4 KB

In [4]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [5]:
s = SelectKBest(chi2)
X=data.iloc[:,2:]
Y=data['label']

In [6]:
Xnew = s.fit_transform(X, Y)
Xnew
f = s.get_support(1) 
X[X.columns[f]]

        f1     f2      f3      f4    f13     f14     f21    f22     f23     f24
0    17.99  10.38  122.80  1001.0  8.589  153.40  25.380  17.33  184.60  2019.0
1    20.57  17.77  132.90  1326.0  3.398   74.08  24.990  23.41  158.80  1956.0
2    19.69  21.25  130.00  1203.0  4.585   94.03  23.570  25.53  152.50  1709.0
3    11.42  20.38   77.58   386.1  3.445   27.23  14.910  26.50   98.87   567.7
4    20.29  14.34  135.10  1297.0  5.438   94.44  22.540  16.67  152.20  1575.0
..     ...    ...     ...     ...    ...     ...     ...    ...     ...     ...
564  21.56  22.39  142.00  1479.0  7.673  158.70  25.450  26.40  166.10  2027.0
565  20.13  28.25  131.20  1261.0  5.203   99.04  23.690  38.25  155.00  1731.0
566  16.60  28.08  108.30   858.1  3.425   48.55  18.980  34.12  126.70  1124.0
567  20.60  29.33  140.10  1265.0  5.772   86.22  25.740  39.42  184.60  1821.0
568   7.76  24.54   47.92   181.0  2.548   19.15   9.456  30.37   59.16   268.6

[569 rows x 10 columns]

In [7]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

In [8]:
m = LinearSVC(C=0.01, penalty="l1", dual=False)  # the smaller C the fewer features selected
clf = m.fit(X, Y);

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [9]:
s = SelectFromModel(clf, prefit=True)

In [11]:
Xnew = s.transform(X)
Xnew.shape
m=s.get_support(1)
X[X.columns[m]]

         f3      f4     f14    f22     f24
0    122.80  1001.0  153.40  17.33  2019.0
1    132.90  1326.0   74.08  23.41  1956.0
2    130.00  1203.0   94.03  25.53  1709.0
3     77.58   386.1   27.23  26.50   567.7
4    135.10  1297.0   94.44  16.67  1575.0
..      ...     ...     ...    ...     ...
564  142.00  1479.0  158.70  26.40  2027.0
565  131.20  1261.0   99.04  38.25  1731.0
566  108.30   858.1   48.55  34.12  1124.0
567  140.10  1265.0   86.22  39.42  1821.0
568   47.92   181.0   19.15  30.37   268.6

[569 rows x 5 columns]